p{
    max-width:500px;
}

.ripple-button {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background-color: darkorange;
    color: white;
    border: none;
    padding: 10px 20px;
}

.ripple-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(0);
    transition: transform 0.5s;
}

.ripple-button:active:after {
    transform: scale(4);
}

div#itemList {
    text-align: start;
}