@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p> This project is a web application built using ASP.NET MVC. 
        It showcases various functionalities such as displaying a digital clock, a responsive layout with a navigation bar, main content area, and sidebars. 
        The application also features an interactive image slider and mouse position indicators. 
        A key highlight is the asynchronous loading of a list of items, which enhances the overall user experience.
    </p>

    <button class="ripple-button" onclick="loadItems()">Load Items</button>

</div>

<script src="~/js/items.js"></script>