<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SSE_AssessmentProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SSE_AssessmentProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>
    <header>
        <div id="clock"></div>
    </header>
    <nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
        NÉLISSON ADRIEL DA SILVA CAVALHEIRO
    </nav>
    <div class="content">
        <div class="left">
            <div class="mouse-x">
                Mouse X Position(px) <br /> 
                <div id="mouseX">0</div>
            </div>
            <div class="mouse-y">
                Mouse Y Position(px) <br />
                <div id="mouseY">0</div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div class="right">
            <!-- Slider main container -->
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </div>
                    
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <a href="https://allari.com/">Allari</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/clock.js"></script>    
    <script src="~/js/swiper.js"></script>
    <script src="~/js/mouse-position.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
