/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 1em 0;
    color: white;
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left {
    flex-basis: 25%;
}

.main {
    flex-basis: 50%;
}

.right {
    flex-basis: 25%;
}

#clock {    
    color: #808080;
    font-size: 40px;
    text-align: center;
}

.swiper-slide {    
    width: 250px;
    display: flex;
    justify-content: center;
}

.swiper-slide img {
    display: block;
    width: 250px;
    height: 250px;
}

.swiper {
    display: flex;
    flex-basis: 20%;
    width: 400px;
    height: 300px;
}   